$headingBlue: #000336;
$subheadingBlue: #000339;
$subheadingGrey: #687690;
$buttonBlue: #0f1b4c;
$navGrey: #4f5361;
$textGrey: #5a6473;
$headingGrey: #3b3c45;
$pGrey: #7d8589;
$lightBlue: #0689ff;
$lightGrey: #a3a6ab;
$backgroundLightBlue: #e6f0ff;
$darkBlue: #063183;
$black: #000000;
$white: #ffffff;
